[submodule "vendor/deploy-action"]
	path = vendor/deploy-action
	url = git@github.com:MySproutOS/sproutos-deploy-action.git
[submodule "vendor/android"]
	path = vendor/android
	url = https://github.com/MySproutOS/SproutOS-Android.git
