@import "@fontsource-variable/bricolage-grotesque";
@import "@fontsource-variable/geist";
@import "@fontsource-variable/geist-mono";
@import "tailwindcss";
@import "@ui/base/theme.css";

@plugin 'tailwindcss-animate';
@plugin '@tailwindcss/typography';

@source "../../../../lib/typescript/ui/base/src";
@source "../../../../lib/typescript/ui/spa-shared/src";

@theme {
  --font-geist: "Geist Variable";
  --font-geist-mono: "Geist Mono Variable";
  --font-bricolage: "Bricolage Grotesque Variable";
}

@layer base {
  body {
    @apply soil-haze;
  }

  html {
    scroll-behavior: smooth;
    scroll-padding-top: 5rem;
  }
}
